#pc-wrap {
	#shop-list-page {

		.container {
			.right {
				position: absolute;
				right: 0;
				top: 2%;
				display: flex;
				flex-direction: row;
				align-items: center;
				z-index: 2;

				button {
					margin-left: 10px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: bold;
					line-height: 26px;

					&:hover {
						background: none;
					}
				}
			}

			.property-page {
				position: relative;
				width: 100%;
				flex-direction: row;
				gap: 60px;
				padding-top: 96px;

				.filter-config {
					width: 300px;
					height: auto;


					.filter-main {
						width: 100%;
						padding: 30px 24px;
						border: 1px solid #71717156;
						background: #fff;
						border-radius: 2rem;
						box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

						.find-your-home {
							position: relative;
							width: 100%;
							gap: 10px;

							.title {
								margin-bottom: 10px;
								width: auto;
								height: auto;
								color: #181a20;
								font-family: $font;
								font-size: 40px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}

							.input-box {
								position: relative;
								width: 100%;
								flex-direction: row;
								align-items: center;

								svg {
									cursor: pointer;
								}

								.search-input {
									width: 100%;
									height: 53px;
									border-radius: 8px;
									border: 1px solid #ddd;
									background: #fff;
									outline: none;
									padding-left: 43px;
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
									border: 1px solid #ddd;

									.cancle {
										margin-right: 10px;
									}

									&:focus-within {
										border: 2px solid #405ef287;
										border-radius: 0.5rem;
									}
								}

								img {
									position: absolute;
									width: 18px;
									height: 17px;
									top: 18px;
									left: 15px;
								}

								.property-checkbox {
									width: 16px;
									height: 15px;
									border-radius: 12px;
									margin-right: 10px;

									svg {
										width: 19px;
									}
								}
							}

							.divider {
								position: absolute;
								height: 48px;
								border-left: 1px solid #ddd;
								right: 39px;
								top: 31px;
							}


							.square-year-input {
								width: 100%;
								gap: 10px;
								flex-direction: row;
								align-items: center;

								.central-divider {
									width: 22px;
									border: 1px solid black;
								}

								input {
									width: 100%;
									height: 49px;
									border-radius: 8px;
									border: 1px solid #ddd;
									background: #fff;
									outline: none;
									padding-left: 15px;
								}

								label {
									line-height: 13px;
								}

								input::placeholder {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}
						}

						.divider {
							align-self: center;
							position: relative;
							width: 250px;
							height: 1px;
							margin-top: 80px;
							margin-bottom: 80px;
							background: #9a9a9a;
						}
					}
				}

				.main-config {
					width: 936px;
					align-items: center;
					margin-bottom: 200px;
					margin-top: -50px;

					.list-config {
						display: flex;
						width: 100%;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 23px;
						margin-bottom: 100px;

						.shop-card-config {
							width: 296px;
							border: 1px solid #71717187;
							border-radius: 2rem;
							transition: transform 3s;
							box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

							&:hover {
								transform: scale(1.05);
								border: 1px solid #405ef28c;
								border-radius: 2rem;
							}

							.top {
								position: relative;
								justify-content: center;
								align-items: center;

								a {
									height: 100%;
								}

								img {
									width: 295px;
									height: 220px;
									object-fit: cover;
									background: #717171;
									border-radius: 2rem 2rem 0 0;
								}

								.price-box {
									position: absolute;
									bottom: 20px;
									left: 20px;
									padding: 2px 4px;
									align-items: center;
									border-radius: 6px;
									border: 1px solid rgba(255, 255, 255, 0.5);
									background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

									p {
										color: #181a20;
										font-family: $font;
										font-size: 16px;
										font-style: normal;
										font-weight: 800;
										line-height: normal;
									}
								}
							}

							.bottom {
								position: relative;
								width: 100%;
								padding: 20px;

								.name-address {
									width: 100%;
									height: auto;

									.name {
										width: 100%;
										height: 150px;
										overflow: hidden;

										p {
											width: 230px;
											color: #181a20;
											font-family: $font;
											font-size: 18px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}

									.address {
										width: 100%;
										overflow: hidden;

										p {
											width: 230px;
											color: #717171;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
										}
									}
								}

								.divider {
									width: 100%;
									height: 1px;
									margin-bottom: 10px;
									background: #ddd;
								}

								.type-buttons {
									flex-direction: row;
									width: 100%;
									justify-content: space-between;
									align-items: center;

									.type {
										width: 180px;
										height: auto;
										display: flex;
										flex-direction: row;
										justify-content: center;
										align-items: center;
										border: 1px solid #405FF2;
										border-radius: 0.5rem;
										transition: transform 1s;

										&:hover {
											transform: scale(1.05);
											background: #405FF2;
											border: 1px solid #405FF2;
											border-radius: 0.5rem;

											.p {
												color: #fff;
											}

											.icon {
												color: #fff;
											}
										}

										p {
											margin-left: 5px;
											color: #405FF2;
											font-family: $font;
											font-size: 12px;
											font-style: normal;
											line-height: normal;
										}

										.icon {
											width: 18px;
											height: 18px;
											color: #405FF2;
											margin-bottom: 2px;
										}

									}

									.buttons {
										flex-direction: row;
										width: auto;
										justify-content: center;
										align-items: center;
										transition: transform 1s;

										&:hover {
											opacity: 1;
											transform: scale(1.05);
										}

										svg {
											width: 24px;
											height: 24px;
											cursor: pointer;
										}

										.view-cnt {
											font-size: 13px;
										}
									}
								}
							}
						}
					}

					.pagination-config {
						width: 442px;
						height: 86px;
						align-items: center;
						gap: 20px;

						.pagination-box {
							width: 100%;
							align-items: center;
						}

						.total-result {
							p {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 18px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
							}
						}
					}
				}
			}
		}
	}
}