#pc-wrap {

	#property-list-page {
		padding-bottom: 40px;

		.container {
			.right {
				position: absolute;
				right: 0;
				top: 1%;
				display: flex;
				flex-direction: row;
				align-items: center;
				z-index: 2;

				button {
					margin-left: 10px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: bold;
					line-height: 26px;

					&:hover {
						background: none;
					}
				}
			}

			.property-page {
				position: relative;
				width: 100%;
				flex-direction: row;
				gap: 25px;
				padding-top: 80px;

				.filter-config {
					width: 280px;
					height: auto;

					.filter-main {
						width: 100%;
						padding: 30px 24px;
						box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
						background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
						border-radius: 2rem;

						.find-your-home {
							position: relative;
							width: 100%;
							gap: 10px;

							.property-location {
								gap: 10px;
								height: 80px;
								overflow: hidden;

								.input-box {
									width: 100%;
									height: auto;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									flex-wrap: wrap;
								}
							}

							.property-body {
								gap: 10px;
								height: 80px;
								overflow: hidden;

								.input-box {
									width: 100%;
									height: auto;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									flex-wrap: wrap;
								}
							}

							.property-brand {
								gap: 10px;
								height: 80px;
								overflow: hidden;

								.input-box {
									width: 100%;
									height: auto;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									flex-wrap: wrap;
								}
							}

							.property-made {
								gap: 10px;
								overflow: hidden;
								transition: max-height 3s cubic-bezier(0.7, 0.1, 0.3, 1); // 3 sekund
								max-height: 220px;


								&.expanded {
									max-height: 1200px;
								}

								.input-box {
									width: 100%;
									height: auto;
								}
							}


							.title-main {
								width: 100%;
								height: 25px;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}

							.title {
								width: auto;
								height: auto;
								color: #181a20;
								font-family: $font;
								font-size: 20px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}

							.input-box {
								position: relative;
								width: 100%;
								flex-direction: row;
								align-items: center;

								svg {
									cursor: pointer;
								}

								.search-input {
									width: 100%;
									height: 53px;
									border-radius: 2rem;
									background: #FDFFF5;
									outline: none;
									padding-left: 43px;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}

								img {
									position: absolute;
									width: 18px;
									height: 17px;
									top: 18px;
									left: 15px;
								}

								.property-checkbox {
									width: 16px;
									height: 15px;
									border-radius: 12px;
									margin-right: 10px;

									svg {
										width: 19px;
									}
								}
							}

							.divider {
								position: absolute;
								height: 48px;
								border-left: 1px solid #ddd;
								right: 39px;
								top: 31px;
							}

							.arrow-down {
								position: absolute;
								width: 15px;
								height: 8px;
								color: #ddd;
								right: 13px;
								top: 52px;
							}

							.property-type {
								color: #181a20;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 19px;
							}

							.button-group {
								width: 100%;
								height: 43.998px;
								flex-direction: row;

								button {
									width: 100%;
									color: #181a20;
									text-align: center;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}

							.square-year-input {
								width: 100%;
								gap: 10px;
								flex-direction: row;
								align-items: center;

								.central-divider {
									width: 22px;
									border: 1px solid black;
								}

								input {
									width: 100%;
									height: 49px;
									border-radius: 8px;
									border: 1px solid #ddd;
									background: #fff;
									outline: none;
									padding-left: 15px;
								}

								label {
									line-height: 13px;
								}

								input::placeholder {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}

						}

						.divider {
							position: relative;
							width: 338px;
							height: 1px;
							margin-top: 20px;
							margin-bottom: 20px;
							margin-left: -24px;
							background: #E1E1E1;
						}

						.madein {
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}

				.main-config {
					width: 936px;
					margin-top: 40px;
					align-items: center;
					gap: 109px;

					.list-config {
						display: flex;
						width: 100%;
						height: auto;
						flex-direction: column;
						gap: 23px;

						.card-config {
							width: 100%;
							height: 300px;
							margin-bottom: 7px;
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							border: 1px solid #181a203f;
							border-radius: 1rem;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

							.top {
								position: relative;
								width: 500px;
								height: 300px;
								border-radius: 1rem;

								a {
									height: 100%;
								}

								img {
									display: flex;
									justify-content: center;
									align-items: center;
									width: 470px;
									height: 99.8%;
									margin-top: 0.5px;
									object-fit: cover;
									border-radius: 1rem 0 0 1rem;
								}

								.top-badge {
									position: absolute;
									top: 20px;
									left: 16px;
									display: flex;
									width: 80px;
									height: 30px;
									justify-content: center;
									align-items: center;
									border-radius: 6px;
									padding: 6px 20px;
									background: #405FF2;
									color: #fff;
									text-align: center;
									text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;

									img {
										height: 16px;
									}
								}

								.price-box {
									position: absolute;
									bottom: 20px;
									padding: 8px 15px;
									align-items: center;
									border-radius: 6px;
									border: 1px solid rgba(255, 255, 255, 0.5);
									background: #fff;

									p {
										color: #181a20;
										font-family: $font;
										font-size: 15px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
									}
								}
							}

							.bottom {
								width: 100%;
								height: 300px;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								align-items: center;
								padding: 20px 16px 10px 16px;

								.name-address {
									width: 100%;
									height: 100px;
									gap: 5px;
									margin-bottom: 20px;

									.name {
										width: 100%;
										height: 30px;
										overflow: hidden;

										p {
											width: 300px;
											color: #181a20;
											font-family: $font;
											font-size: 22px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											text-transform: capitalize;
											overflow: hidden;
											white-space: nowrap;
											text-overflow: ellipsis;

										}
									}

									.address {
										width: 300px;
										height: 30px;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis;

										p {
											color: #717171;
											font-family: $font;
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
								}

								.options {
									flex-direction: row;
									justify-content: flex-start;
									align-items: center;
									width: 100%;
									height: 30px;
									margin-top: -50px;
									gap: 10px;

									.option {
										display: flex;
										flex-direction: column;
										justify-content: flex-start;
										align-items: center;

										.box {
											width: 80px;
											margin-bottom: 10px;
											display: flex;
											flex-direction: row;
											justify-content: center;
											align-items: center;
											gap: 5px;

											p {
												color: #181a2083;
												font-family: $font;
												font-size: 12px;
												font-style: normal;
												font-weight: 400;
												line-height: normal;
											}
										}

										p {
											text-align: center;
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
								}

								.type-buttons {
									flex-direction: row;
									width: 100%;
									justify-content: space-between;
									align-items: center;

									.type {
										margin-bottom: 30px;
										flex-direction: row;
										align-items: center;
										gap: 7px;

										.feature {
											display: flex;
											justify-content: center;
											align-items: center;
											width: 100px;
											height: 30px;
											background: #405FF2;
											border: 1px solid #7171714e;
											border-radius: 1rem;
											color: #fff;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}

									.buttons {
										flex-direction: row;
										width: auto;
										justify-content: center;
										align-items: center;

										svg {
											width: 24px;
											height: 24px;
											cursor: pointer;
										}

										.view-cnt {
											font-size: 13px;
										}
									}
								}
							}

							.divider {
								position: absolute;
								width: 1px;
								height: 250px;
								margin-left: 670px;
								background: #181a20;
							}

							.second-box {
								width: 270px;
								height: 250px;
								margin-right: 5px;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								align-items: center;

								.buttons {
									flex-direction: row;
									width: auto;
									justify-content: center;
									align-items: center;

									svg {
										width: 24px;
										height: 24px;
										cursor: pointer;
									}

									.view-cnt {
										font-size: 13px;
									}
								}

								.save-box {
									width: 120px;
									height: 40px;
									display: flex;
									flex-direction: row;
									justify-content: space-evenly;
									align-items: center;

									span {
										color: #181a20b5;
										font-family: $font;
										font-size: 18px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
									}

									div {
										width: 40px;
										height: 40px;
										display: flex;
										justify-content: center;
										align-items: center;
										border-radius: 2rem;
										border: 1px solid rgba(0, 0, 0, 0.414);
									}
								}

								p {
									color: #181a20;
									font-family: $font;
									font-size: 22px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}

								.btn-box {
									display: flex;
									justify-content: center;
									align-items: center;

									.button {
										width: 110px;
										height: 40px;
										border: 1px solid #405FF2;
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 300;
										line-height: normal;

										&:hover {
											background: #405FF2;
											color: #fff;
											border: 1px solid #405FF2;
										}
									}

								}
							}
						}
					}

					.pagination-config {
						width: 442px;
						height: 86px;
						align-items: center;
						gap: 20px;

						.pagination-box {
							width: 100%;
							align-items: center;
						}

						.total-result {
							p {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 275;
								line-height: 26px;
							}
						}
					}
				}
			}
		}
	}
}