.shop-card-config {
	width: 240px;
	height: 330px;
	margin-top: 20px;
	margin-bottom: 7px;

	.top {
		position: relative;
		width: 100%;
		height: 240px;
		justify-content: center;
		align-items: center;

		a {
			height: 100%;
		}

		img {
			width: 240px;
			height: 200px;
			margin-top: 9px;
			object-fit: cover;
			background: #717171;
			border-radius: 0.2rem;
			transition: transform 1s;
			box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

			&:hover {
				transform: scale(1.03);
				border-radius: 0.5rem;
				box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
			}
		}

		.top-badge {
			position: absolute;
			top: 30px;
			left: 30px;
			display: flex;
			width: 100px;
			height: 25px;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			padding: 6px 20px;
			background: #405FF2;
			color: #fff;
			text-align: center;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-family: $font;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

		}

		.price-box {
			position: absolute;
			bottom: 20px;
			left: 30px;
			padding: 2px 4px;
			align-items: center;
			border-radius: 6px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			background: #fff;

			p {
				color: #181a20;
				font-family: $font;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}
	}

	.bottom {
		position: relative;
		width: 100%;
		margin-top: 5px;
		padding: 20px 16px 10px 16px;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
		background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
		border-radius: 0.2rem;

		.name-address {
			width: 100%;
			height: 48px;

			.name {
				width: 100%;
				height: 23px;
				overflow: hidden;

				p {
					width: 200px;
					background-image: linear-gradient(to left, #C33764, #1D2671);
					-webkit-background-clip: text;
					color: transparent;
					font-family: $font;
					font-size: 15px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					text-transform: capitalize;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.address {
				width: 100%;
				overflow: hidden;

				p {
					width: 200px;
					background-image: linear-gradient(to left, #C33764, #1D2671);
					-webkit-background-clip: text;
					color: transparent;
					font-family: $font;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.divider {
			width: 90%;
			height: 1px;
			margin-bottom: 10px;
			background-image: linear-gradient(to left, #C33764, #1D2671);
		}

		.type-buttons {
			flex-direction: row;
			width: 90%;
			justify-content: space-between;
			align-items: center;

			.type {
				width: 100px;
				height: 30px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				border: 1px solid #405FF2;
				border-radius: 0.5rem;
				transition: transform 1s;

				&:hover {
					transform: scale(1.05);
					background: #405FF2;
					border: 1px solid #405FF2;
					border-radius: 0.5rem;

					.p {
						color: #fff;
					}

					.icon {
						color: #fff;
					}
				}

				.p {
					margin-left: 5px;
					color: #405FF2;
					font-family: $font;
					font-size: 15px;
					font-style: normal;
					line-height: normal;
				}

				.icon {
					width: 15px;
					height: 15px;
					color: #405FF2;
					margin-bottom: 2px;
				}

			}
		}
	}
}

.find-card-box {
	position: relative;
	width: 380px;
	height: 450px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;

	.card-img {
		position: relative;
		width: 100%;
		height: 250px;
		background-size: cover;
		border-radius: 0.1rem;
		background-position: center;
		background-size: cover;
		cursor: pointer;
		border-radius: 0.2rem;
		transition: transform 0.3s;
		box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

		&:hover {
			opacity: 1;
			transform: scale(1.05);
			box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
		}

		div {
			width: 24px;
			height: 24px;
			position: absolute;
			padding: 8px 12px;
			left: 12px;
			bottom: 12px;
			border-radius: 2rem;
			color: #181a20;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}

	.info {
		padding: 10px;
		margin-top: 10px;
		height: 160px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		border-top: none;
		background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
		border-radius: 0.3rem;


		.title {
			overflow: hidden;
			background-image: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
			-webkit-background-clip: text;
			color: transparent;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: capitalize;
			cursor: pointer;
		}

		.desc {
			margin-top: 5px;
			overflow: hidden;
			background-image: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
			-webkit-background-clip: text;
			color: transparent;
			font-family: $font;
			font-size: 17px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.options {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				span {
					background-image: linear-gradient(to left, #3a6186, #b21f1f, #89253e);
					-webkit-background-clip: text;
					color: transparent;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}

		.bott {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			p {
				background-image: linear-gradient(to left, #3a6186, #b21f1f, #89253e);
				-webkit-background-clip: text;
				color: transparent;
				font-family: $font;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: capitalize;
				letter-spacing: 1px;
			}

			.view-like-box {
				margin-left: 180px;
				display: flex;
				flex-direction: row;
				gap: 7px;
				align-items: center;

				button {
					margin-left: 7px;
					width: 16px;
					height: 16px;
					box-sizing: border-box;
				}

				.view-cnt {
					font-family: $font;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.trend-card-box {
	position: relative;
	width: 230px;
	height: 300px;
	margin-top: 15px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;

	.card-img {
		position: relative;
		width: 230px;
		height: 130px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 5px;
		cursor: pointer;

		transition: transform 0.3s;

		&:hover {
			opacity: 1;
			transform: scale(1.05);
		}

		.top-badge {
			position: absolute;
			top: 12px;
			right: 10px;
			display: flex;
			width: 20px;
			height: 10px;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			padding: 6px 20px;
			background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
			color: #1D2671;
			text-align: center;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-family: $font;
			font-size: 3px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			img {
				height: 16px;
			}
		}

		.save {
			position: absolute;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 12px;
			left: 12px;
			border-radius: 3rem;
			cursor: pointer;
		}

		div {
			position: absolute;
			padding: 8px 12px;
			right: 12px;
			top: 12px;
			border-radius: 6px;
			background: #fff;
			color: #181a20;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}

	.info {
		width: 230px;
		height: 110px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		border-top: none;

		.divider-recom {
			background-image: linear-gradient(to left, #C33764, #1D2671);
			height: 2px;
		}

		.title {
			width: 220px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background-image: linear-gradient(to left, #C33764, #1D2671);
			-webkit-background-clip: text;
			color: transparent;
			font-family: $font;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			cursor: pointer;
		}

		.desc {
			margin-top: 5px;
			height: auto;
			overflow: hidden;
			background-image: linear-gradient(to left, #C33764, #1D2671);
			-webkit-background-clip: text;
			color: transparent;
			font-family: $font;
			font-size: 25px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.options {
			margin-top: 10px;
			margin-bottom: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 10px;

			div {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				.img {
					margin-right: 5px;
					width: 15px;
					height: 15px;
					color: #1D2671;
				}

				span {
					background-image: linear-gradient(to left, #C33764, #1D2671);
					-webkit-background-clip: text;
					color: transparent;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 300;
					line-height: normal;
				}
			}
		}
	}
}

.agent-general-card {
	position: relative;
	width: 300px;
	height: 410px;
	margin-bottom: 34px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.445);
	border-radius: 1rem;
	transition: transform 0.3s;

	&:hover {
		opacity: 1;
		transform: scale(1.07);

		.agent-desc {
			border: 1px solid #405FF2;
			border-radius: 1rem;
			background: #405FF2;

			.agent-info {
				span {
					color: #fff;
				}

				strong {
					color: #fff;

				}
			}

			.icon {
				color: #fff;
			}

			.buttons {
				p {
					color: #fff;
				}

				.view-cnt {
					color: #fff;
				}
			}
		}
	}

	.agent-img {
		border-radius: 12px;
		margin-top: 10px;
		width: 280px;
		height: 280px;
		background-size: 100% 100%;
		cursor: pointer;

		div {
			position: absolute;
			padding: 12px;
			top: 20px;
			left: 20px;
			border-radius: 6px;
			background: #405FF2;
			color: #fff;
			font-family: $font;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}

	.agent-desc {
		width: 260px;
		height: 70px;
		margin-top: 23px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #405FF2;
		border-radius: 1rem;

		.agent-info {
			display: flex;
			flex-direction: column;

			strong {
				width: 100px;
				color: #181a20;
				font-family: $font;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				cursor: pointer;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			span {
				width: 100px;
				color: #181a20;
				font-family: $font;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}

			.view-cnt {
				font-size: 13px;
			}
		}
	}
}

.dealer-general-card {
	position: relative;
	width: 300px;
	height: 450px;
	margin-bottom: 34px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.445);
	border-radius: 1rem;
	transition: transform 0.3s;

	&:hover {
		opacity: 1;
		transform: scale(1.07);

		.button {
			border: 1px solid #405FF2;
			border-radius: 1rem;
			background: #405FF2;

			.agent-info {
				strong {
					color: #fff;
				}

				.icon {
					color: #fff;
				}
			}
		}
	}

	.agent-img {
		border-radius: 1rem;
		width: 260px;
		height: 150px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		cursor: pointer;
	}

	.agent-desc {
		width: 260px;
		height: 70px;
		margin-top: -23px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;

		.agent-info {
			display: flex;
			justify-content: center;
			align-items: center;

			strong {
				width: 210px;
				height: 60px;
				color: #181a20;
				font-family: $font;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-wrap: wrap;
				text-align: center;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis
			}

		}

		p {
			width: 230px;
			height: 70px;
			margin-top: 10px;
			color: #181a20;
			font-family: $font;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-wrap: wrap;
			text-align: center;
			cursor: pointer;
		}
	}

	.button {
		width: 260px;
		height: 50px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #405FF2;
		border-radius: 1rem;


		.agent-info {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				cursor: pointer;
			}

			.icon {
				width: 18px;
				height: 18px;
				margin-left: 10px;
			}
		}
	}
}

.membership-general-card {
	position: relative;
	width: 350px;
	height: 600px;
	margin-bottom: 34px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 1rem;
	transition: transform 0.3s;

	&:hover {
		opacity: 1;
		transform: scale(1.07);
		background: #405FF2;

		.button {
			border: 1px solid #405FF2;
			border-radius: 1rem;
			background: #fff;

			.agent-info {
				strong {
					color: #fff;
				}

				.buy {
					color: #405FF2;
				}

				.btn-icon {
					color: #405FF2;
				}
			}
		}

		.agent-month {
			.agent-info {
				strong {
					color: #fff;
				}
			}

			p {
				color: #fff;
			}
		}

		.agent-plan {
			.agent-info {
				strong {
					color: #fff;
				}
			}

			p {
				color: #fff;
			}
		}

		.agent-desc {
			.agent-info {
				strong {
					color: #fff;
				}
			}

			p {
				color: #fff;
			}
		}
	}

	.agent-month {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: first baseline;

		.agent-info {

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-wrap: wrap;
				text-align: center;
				cursor: pointer;
			}
		}

		p {
			color: #181a20;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-wrap: wrap;
			text-align: center;
			cursor: pointer;
		}
	}

	.agent-plan {
		width: 260px;
		height: 70px;
		margin-top: -50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 1rem;

		.agent-info {

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-wrap: wrap;
				cursor: pointer;
			}

		}

		p {
			color: #181a20;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-wrap: wrap;
			text-align: start;
			cursor: pointer;
		}
	}

	.agent-desc {
		width: 260px;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 1rem;
		gap: 10px;

		.agent-info {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			.icon-box {
				width: 25px;
				height: 25px;
				margin-right: 5px;
				background: rgb(225, 239, 255);
				border: 1px solid rgb(225, 239, 255);
				border-radius: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;

				.icon {
					width: 18px;
					height: 18px;
					color: #405FF2;
				}
			}

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-wrap: wrap;
				text-align: center;
				cursor: pointer;
			}

		}
	}

	.button {
		width: 260px;
		height: 50px;
		margin-top: 23px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #405FF2;
		border-radius: 1rem;


		.agent-info {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				cursor: pointer;
			}

			.icon {
				width: 18px;
				height: 18px;
				margin-left: 10px;
			}
		}
	}
}

.community-general-card-config {
	position: relative;
	height: auto;
	gap: 20px;
	border-radius: 12px;
	cursor: pointer;

	.image-box {
		width: 320px;
		height: 280px;

		.card-img {
			width: 100%;
			height: 280px;
			max-height: 100%;
			border-radius: 12px;
			object-fit: cover;
		}
	}

	.desc-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 80px;

		.title {
			color: #fff;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.desc {
			color: #fff;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px;
			text-transform: capitalize;
		}

		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.icon {
				color: white;
			}

			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}

			.view-cnt {
				font-size: 13px;
				color: white;
			}
		}
	}

	.date-box {
		position: absolute;
		width: 70px;
		height: 69.014px;
		align-items: center;
		justify-content: center;
		top: 235px;
		right: 20px;
		border-radius: 12px;
		background: #fff;
		box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);

		.month {
			color: #181a20;
			text-align: center;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.day {
			color: #181a20;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
}