.shop-card-config {
	width: 240px;
	height: auto;
	margin-top: 50px;
	border-radius: 2rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border: 1px solid #1d25714d;

	.top {
		position: relative;
		width: 100%;
		height: 220px;
		justify-content: center;
		align-items: center;

		a {
			height: 100%;
		}

		img {
			width: 238px;
			height: 220px;
			object-fit: cover;
			background: #717171;
			border-radius: 2rem 2rem 0 0;
			transition: transform 3s;
		}

		.price-box {
			width: 100px;
			height: 30px;
			position: absolute;
			bottom: 20px;
			left: 16px;
			padding: 2px 4px;
			border-radius: 2rem;
			border: 1px solid rgba(255, 255, 255, 0.5);
			background: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			p {
				color: #181a20;
				font-family: $font;
				font-size: 22px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}

	.bottom {
		position: relative;
		width: 238px;
		height: 250px;
		padding: 20px 16px 10px 16px;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
		background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
		border-radius: 0 0 2rem 2rem;

		.name-address {
			width: 100%;
			height: 200px;

			.name {
				width: 100%;
				height: 130px;

				p {
					width: 200px;
					background-image: linear-gradient(to left, #C33764, #1D2671);
					-webkit-background-clip: text;
					color: transparent;
					font-family: $font;
					font-size: 17px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-wrap: wrap;

				}
			}

			.address {
				width: 100%;
				margin-top: 20px;

				p {
					width: 200px;
					height: 30px;
					background-image: linear-gradient(to left, #C33764, #1D2671);
					-webkit-background-clip: text;
					color: transparent;
					font-family: $font;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.divider {
					width: 90%;
					height: 1px;
					margin-bottom: 10px;
					background-image: linear-gradient(to left, #C33764, #1D2671);
				}
			}
		}


	}
}

.find-card-box {
	position: relative;
	width: 380px;
	height: 450px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 2rem;
	transition: 3s;

	&:hover {
		opacity: 1;
		transform: scale(1.05);
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}

	.card-img {
		position: relative;
		width: 100%;
		height: 250px;
		background-size: cover;
		background-position: center;
		background-size: cover;
		border-radius: 2rem 2rem 0 0;
		cursor: pointer;
	}

	.info {
		width: auto;
		padding: 20px;
		height: 200px;
		display: flex;
		flex-direction: column;
		border-radius: 0 0 2rem 2rem;
		background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);


		.title {
			color: #2F313A;
			font-family: $font;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			cursor: pointer;
		}

		.desc {
			overflow: hidden;
			text-wrap: nowrap;
			text-overflow: ellipsis;
			margin-top: 5px;
			color: #2F313A;
			font-family: $font;
			font-size: 17px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
		}

		.options {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				span {
					color: #2F313A;
					font-family: $font;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
			}
		}

		.bott {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			p {
				color: #2F313A;
				font-family: $font;
				font-size: 30px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: capitalize;
				letter-spacing: 1px;
			}

			.view-like-box {
				display: flex;
				flex-direction: row;
				gap: 7px;
				align-items: center;

				button {
					margin-left: 7px;
					width: 16px;
					height: 16px;
					box-sizing: border-box;
				}

				.view-cnt {
					font-family: $font;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.trend-card-box {
	position: relative;
	width: 620px;
	height: 680px;
	margin-top: 15px;
	margin-left: 10px;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 2rem;

	transition: transform 1s;

	&:hover {
		opacity: 1;
		transform: scale(1.01);
	}

	.card-img {
		position: relative;
		width: 620px;
		height: 380px;
		border-radius: 2rem 2rem 0 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;

		.top-badge {
			position: absolute;
			top: 25px;
			left: 30px;
			display: flex;
			width: 40px;
			height: 20px;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			padding: 6px 20px;
			background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
			color: #1D2671;
			text-align: center;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-family: $font;
			font-size: 3px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			img {
				height: 16px;
			}
		}
	}

	.info {
		width: 560px;
		height: 280px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		border-top: none;

		.divider-recom {
			background-color: #2F313A;
			opacity: 0.3;
			height: 2px;
		}

		.title {
			width: 560px;
			height: 50px;
			color: #2F313A;
			font-family: $font;
			font-size: 30px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.options {
			gap: 10px;
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			margin-bottom: 10px;

			div {
				width: 180px;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				.img {
					margin-right: 10px;
					width: 25px;
					height: 25px;
					color: #1D2671;
				}

				span {
					color: #2F313A;
					font-family: $font;
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}

		.desc {
			margin-top: 10px;
			height: auto;
			color: #2F313A;
			font-family: $font;
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
}

.agent-general-card {
	position: relative;
	width: 280px;
	height: 600px;
	margin-bottom: 50px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(108, 106, 106, 0.445);
	border-radius: 2rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	transition: transform 0.3s;

	&:hover {
		opacity: 1;
		transform: scale(1.07);

	}

	.agent-img {
		border-radius: 2rem 2rem 0 0;
		width: 278px;
		height: 400px;
		background-size: 100% 100%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.agent-desc {
		width: 278px;
		height: 198px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		border-radius: 0 0 2rem 2rem;
		background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);


		.agent-info {
			display: flex;
			flex-direction: column;

			strong {
				width: 100%;
				height: 50px;
				color: #181a20;
				font-family: $font;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				cursor: pointer;
				overflow: hidden;
				white-space: wrap;
				text-overflow: ellipsis;
			}

			span {
				width: 100px;
				color: #181a20;
				font-family: $font;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-left: -10px;

			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}

			.view-cnt {
				font-size: 13px;
			}
		}
	}
}

.dealer-general-card {
	position: relative;
	width: 300px;
	height: 500px;
	margin-bottom: 34px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.337);
	background-color: #fff;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border-radius: 1rem;
	transition: transform 3s;
	gap: 10px;

	&:hover {
		opacity: 1;
		transform: scale(1.05);

		.button {
			border: 1px solid #405FF2;
			border-radius: 1rem;
			background: #405FF2;

			.agent-info {
				strong {
					color: #fff;
				}

				.icon {
					color: #fff;
				}
			}
		}
	}

	.agent-img {
		border-radius: 1rem;
		width: 260px;
		height: 150px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		cursor: pointer;
	}

	.agent-desc {
		width: 260px;
		height: 70px;
		margin-top: -23px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;

		.agent-info {
			display: flex;
			justify-content: center;
			align-items: center;

			strong {
				width: 210px;
				height: 80px;
				color: #181a20;
				font-family: $font;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-wrap: wrap;
				text-align: center;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis
			}

		}

		p {
			width: 230px;
			height: 70px;
			margin-top: 10px;
			color: #181a20;
			font-family: $font;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-wrap: wrap;
			text-align: center;
			cursor: pointer;
		}
	}

	.button {
		width: 260px;
		height: 50px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #405FF2;
		border-radius: 1rem;


		.agent-info {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				cursor: pointer;
			}

			.icon {
				width: 18px;
				height: 18px;
				margin-left: 10px;
			}
		}
	}
}

.membership-general-card {
	position: relative;
	width: 350px;
	height: 600px;
	margin-bottom: 34px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 1rem;
	transition: transform 0.3s;

	&:hover {
		opacity: 1;
		transform: scale(1.07);
		background: #405FF2;

		.button {
			border: 1px solid #405FF2;
			border-radius: 1rem;
			background: #fff;

			.agent-info {
				strong {
					color: #fff;
				}

				.buy {
					color: #405FF2;
				}

				.btn-icon {
					color: #405FF2;
				}
			}
		}

		.agent-month {
			.agent-info {
				strong {
					color: #fff;
				}
			}

			p {
				color: #fff;
			}
		}

		.agent-plan {
			.agent-info {
				strong {
					color: #fff;
				}
			}

			p {
				color: #fff;
			}
		}

		.agent-desc {
			.agent-info {
				strong {
					color: #fff;
				}
			}

			p {
				color: #fff;
			}
		}
	}

	.agent-month {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: first baseline;

		.agent-info {

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-wrap: wrap;
				text-align: center;
				cursor: pointer;
			}
		}

		p {
			color: #181a20;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-wrap: wrap;
			text-align: center;
			cursor: pointer;
		}
	}

	.agent-plan {
		width: 260px;
		height: 70px;
		margin-top: -50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 1rem;

		.agent-info {

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-wrap: wrap;
				cursor: pointer;
			}

		}

		p {
			color: #181a20;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-wrap: wrap;
			text-align: start;
			cursor: pointer;
		}
	}

	.agent-desc {
		width: 260px;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 1rem;
		gap: 10px;

		.agent-info {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			.icon-box {
				width: 25px;
				height: 25px;
				margin-right: 5px;
				background: rgb(225, 239, 255);
				border: 1px solid rgb(225, 239, 255);
				border-radius: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;

				.icon {
					width: 18px;
					height: 18px;
					color: #405FF2;
				}
			}

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-wrap: wrap;
				text-align: center;
				cursor: pointer;
			}

		}
	}

	.button {
		width: 260px;
		height: 50px;
		margin-top: 23px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #405FF2;
		border-radius: 1rem;


		.agent-info {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			strong {
				color: #181a20;
				font-family: $font;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				cursor: pointer;
			}

			.icon {
				width: 18px;
				height: 18px;
				margin-left: 10px;
			}
		}
	}
}

.community-general-card-config {
	width: 322px;
	margin-bottom: 50px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 420px;
	gap: 20px;
	border: 1px solid #b9b9b9;
	border-radius: 2rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	cursor: pointer;

	.image-box {
		width: 320px;
		height: 280px;

		.card-img {
			width: 100%;
			height: 280px;
			max-height: 100%;
			border-radius: 2rem 2rem 0 0;
			object-fit: cover;
		}
	}

	.desc-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 200px;
		padding: 20px;
		padding-bottom: 20px;

		.title {
			height: 40px;
			color: #181a20;
			font-family: $font;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.desc {
			width: 180px;
			height: 30px;
			color: #181a20;
			font-family: $font;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px;
			text-wrap: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.icon {
				color: black;
			}

			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}

			.view-cnt {
				font-size: 13px;
				color: black;
			}
		}
	}

	.date-box {
		position: absolute;
		width: 70px;
		height: 69.014px;
		align-items: center;
		justify-content: center;
		top: 235px;
		right: 20px;
		border-radius: 12px;
		background: #fff;
		box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);

		.month {
			color: #181a20;
			text-align: center;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.day {
			color: #181a20;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
}