#pc-wrap {
	#service-detail-page {
		position: relative;
		background: #fff;
		padding-top: 87px;
		padding-bottom: 200px;

		.property-detail-config {
			width: 100%;
			height: auto;
			padding-top: 56px;
			gap: 30px;

			.property-info-config {
				width: 100%;
				height: auto;
				gap: 30px;

				.info {
					width: 100%;
					height: auto;
					flex-direction: row;
					justify-content: space-between;

					.left-box {
						width: 100%;
						height: auto;

						.title-main {
							margin-bottom: 10px;
							color: #181a20;
							font-family: $font;
							font-size: 40px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
						}
					}

				}

				.brand-img {
					width: 95%;
					height: auto;
					margin-left: 30px;
					margin-bottom: 200px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					border-radius: 1rem;

					.right {
						gap: 20px;

						.config {
							width: 100%;
							height: 350px;
							padding: 30px 25px;

							.right {
								display: flex;
								flex-direction: column;
								justify-content: space-between;

								.small-title {
									width: 100%;
									margin-bottom: 20px;
									color: #181a20;
									font-family: $font;
									font-size: 22px;
									font-style: normal;
									font-weight: 500;

									.icon {
										width: 25px;
										height: 25px;
										padding-top: 10px;
									}
								}

								.social {
									width: auto;
									height: 30px;
									margin-bottom: 5px;
									display: flex;
									justify-content: flex-start;
									align-items: center;
									flex-direction: row;

									img {
										width: 24px;
										height: 24px;
										margin-left: 20px;
									}

									.data {
										margin-left: 3px;
										color: #181a20;
										font-family: $font;
										font-size: 18px;
										font-style: normal;
										font-weight: 400;
									}
								}

								.info {
									width: 200px;
									height: 50px;
									margin-top: 30px;
									display: flex;
									justify-content: center;
									align-items: center;
									border-radius: 1rem;
									border: 1px solid #405FF4;
									background: #405FF2;

									.data {
										color: #fff;
										font-family: $font;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
									}
								}
							}
						}
					}

				}

				.images {
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					border-radius: 1rem;

					.main-image {
						width: 100%;
						height: 600px;
						background: #717171;
						border-radius: 1rem;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 1rem;
						}
					}
				}
			}

			.property-desc-config {
				width: 100%;
				height: auto;
				flex-direction: row;
				gap: 22px;

				.left-config {
					width: 960px;
					height: auto;
					gap: 40px;

					.options-config {
						width: 100%;
						height: auto;
						flex-direction: row;
						gap: 47.5px;

						.option {
							width: auto;
							height: auto;
							flex-direction: row;
							gap: 17px;

							.svg-box {
								width: 56px;
								height: 50px;
								align-items: center;
								justify-content: center;
								border-radius: 12px;
								border: 1px solid #ddd;

								img {
									width: 35px;
									height: auto;
								}
							}

							.option-includes {
								width: auto;
								height: auto;

								.title {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}

								.option-data {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}

					.prop-desc-config {
						width: 100%;
						height: auto;
						gap: 50px;
						padding: 29px 38px 50px 38px;

						.bottom {
							width: 100%;
							height: auto;
							display: flex;
							flex-direction: column;
							justify-content: space-evenly;
							align-items: flex-start;
							gap: 30px;

							.data {
								width: 100%;
								color: #000000;
								font-family: $font;
								font-size: 16px;
								font-style: normal;
								font-weight: 500;
								text-align: justify;
								white-space: pre-line;
							}

							.info-box {
								width: 100%;
								height: auto;
								align-items: center;

								.left {
									width: auto;
									height: auto;
									display: flex;
									flex-direction: row;
									justify-content: flex-start;
									align-items: center;
									flex-flow: row wrap;
									gap: 10px;

									.info {
										width: 280px;
										height: 200px;
										display: flex;
										margin-bottom: 10px;
										border-radius: 1rem;
										border: 1px solid #895129;
										flex-direction: column;
										justify-content: space-evenly;
										align-items: center;


										img {
											width: 80px;
											height: 80px;
											object-fit: cover;
										}

										.data {
											width: 180px;
											text-align: center;
											color: #895129;
											font-family: $font;
											font-size: 24px;
											font-style: normal;
											font-weight: 700;
											line-height: 35px;
										}
									}
								}
							}
						}
					}


					.address-config {
						width: 100%;
						height: auto;
						padding: 30px 38px;

						.title {
							margin-bottom: 5px;
							color: #181a20;
							font-family: $font;
							font-size: 24px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}

						.address {
							margin-bottom: 20px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}

						.map-box {
							width: 100%;
							height: 400px;

							iframe {
								border-radius: 12px;
							}
						}
					}
				}

				.right-frame {

					.hour {

						.time {
							width: 300px;
							margin-top: 30px;
							padding: 30px 25px;
							gap: 20px;
							transition: transform 1s;

							&:hover {
								opacity: 1;
								transform: scale(1.07);
							}

							.right {

								.main-title {
									width: 120px;
									margin-bottom: 20px;
									color: #181a20;
									font-family: $font;
									font-size: 25px;
									font-style: normal;
									font-weight: 600;
									text-wrap: nowrap;
								}

								.info {
									width: 250px;
									height: 30px;
									margin-bottom: 5px;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									transition: transform 1s;

									&:hover {
										opacity: 1;
										transform: scale(1.07);


										.icons {
											font-size: 16px;
											opacity: 1;

										}

										.data {
											font-size: 16px;
											opacity: 1;

										}
									}

									.icons {
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 600;

									}

									.data {
										width: 50%;
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 600;
									}
								}
							}
						}
					}

					.frame {
						width: 318px;
						min-height: 1200px;
						margin-top: 100px;
						padding: 30px 25px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;
						gap: 20px;

						.top {
							.main {
								color: #181a20;
								font-family: $font;
								font-size: 20px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								color: #405FF2;
							}

							.second {
								color: #717171;
								font-family: $font;
								font-size: 20px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}

							div {
								width: 120px;
								height: 1px;
								background: #ddd;
							}

							.div-m {
								background: #405FF2;
							}
						}

					}
				}
			}
		}
	}
}