#pc-wrap {
	.agent-detail-page {
		position: relative;
		padding: 133px 0 75px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;

			.agent-info {
				width: 100%;
				padding: 30px;
				display: flex;
				flex-direction: row;
				align-items: center;
				border: 1px solid #3a3a3a3e;
				box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
				border-radius: 2rem;
				gap: 30px;

				img {
					margin-right: 50px;
					width: 200px;
					height: 300px;
					border-radius: 2rem;
					cursor: pointer;
					object-position: top;
					object-fit: cover;
				}

				.info {
					display: flex;
					flex-direction: column;

					strong {
						color: #181a20;
						font-family: $font;
						font-size: 40px;
						font-style: normal;
						font-weight: 800;
						line-height: normal;
						text-transform: capitalize;
						cursor: pointer;
					}

					div {
						margin-top: 30px;
						display: flex;
						flex-direction: row;
						align-items: center;

						.kakao {
							width: 30px;
							height: 30px;
						}

						.icon {
							margin-right: 10px;
							width: 30px;
							height: 30px;
							color: #181a20;
						}

						span {
							color: #181a20;
							font-family: $font;
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px;
						}
					}
				}
			}

			.agent-home-list {
				position: relative;
				width: 100%;
				margin-top: 100px;
				padding: 30px;
				display: flex;
				flex-direction: column;
				background-color: #fff;
				border-radius: 2rem;
				border: 1px solid #3a3a3a31;
				box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

				.card-wrap {
					position: relative;
					margin-top: 20px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					.wrap-main {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;

					}

					.agent-card {
						position: relative;
						margin-right: 27px;
						margin-bottom: 34px;
						display: flex;
						flex-direction: column;

						.agent-img {
							border-radius: 12px;
							width: 233px;
							height: 273px;
							background-size: cover;
							cursor: pointer;

							div {
								position: absolute;
								padding: 12px;
								top: 12px;
								left: 12px;
								border-radius: 6px;
								background: #eb6753;
								color: #181a20;
								font-family: $font;
								font-size: 12px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}

						.agent-info {
							margin-top: 23px;
							display: flex;
							flex-direction: column;

							strong {
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								cursor: pointer;
							}

							span {
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px;
							}
						}
					}
				}

				.pagination {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 100px;

					span {
						margin-top: 20px;
						color: #181a20;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}

			.review-box {
				position: relative;
				margin-top: 75px;
				width: 100%;
				height: auto;
				border-radius: 2rem;

				.review-wrap {
					padding: 29px 25px;
					margin-top: 57px;
					display: flex;
					flex-direction: column;
					border-radius: 2rem;
					border: 1px solid #3a3a3a41;
					box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

					.title-box {
						margin-bottom: 50px;

						span {
							margin-left: 8px;
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
					}

					.review-card {
						margin-top: 20px;
						display: flex;
						flex-direction: column;
						padding-bottom: 10px;
						border-bottom: 1px solid #c4c4c4;

						.info {
							display: flex;
							flex-direction: row;
							justify-content: space-between;

							.left {
								display: flex;
								flex-direction: row;

								img {
									width: 55px;
									height: 55px;
									border-radius: 1rem;
									object-fit: cover;
								}

								div {
									margin-left: 8px;
									display: flex;
									flex-direction: column;

									strong {
										color: #181a20;
										font-family: $font;
										font-size: 18px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
									}

									span {
										margin-top: 4px;
										color: #181a20;
										font-family: $font;
										font-size: 15px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}

							.right {
								display: flex;
								flex-direction: row;

								svg {
									color: #edf023;
								}
							}
						}

						p {
							margin-top: 30px;
							color: #181a20;
							font-family: $font;
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
					}

					.pagination-box {
						margin-top: 30px;
						width: 100%;
						height: auto;
						display: flex;
						justify-content: center;
					}
				}

				.leave-review-config {
					margin-top: 100px;
					border-radius: 2rem;
					box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
					border: 1px solid #3a3a3a31;
					padding: 30px 38px;
					margin-bottom: 100px;

					.main-title {
						color: #181a20;
						font-family: $font;
						font-size: 22px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}

					.review-title {
						margin-top: 20px;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}

					textarea {
						width: 100%;
						height: 120px;
						margin-top: 8px;
						padding: 20px;
						border-radius: 8px;
						border: 1px solid #3a3a3a31;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}

					.submit-btn {
						width: 100%;
						display: flex;
						justify-content: flex-end;

						button:disabled {
							background: #405FF2;
						}

						.submit-review {
							display: flex;
							width: 256px;
							margin-top: 30px;
							padding: 16px 30px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							border-radius: 12px;
							border: 1px solid #405FF2;
							cursor: pointer;

							.title {
								color: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
				}
			}
		}
	}
}