#pc-wrap {
	#my-page {
		#my-favorites-page {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 57px;

			.main-title-box {
				width: auto;
				height: auto;
				flex-direction: row;
				justify-content: space-between;

				.right-box {
					width: 315px;

					.main-title {
						color: #fff;
						font-family: $font;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.6px;
						text-transform: capitalize;
					}

					.sub-title {
						color: #fff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}

			.favorites-list-box {
				width: 100%;
				height: auto;
				flex-wrap: wrap;
				flex-direction: row;
				gap: 10px;

			}

			.pagination-config {
				width: 100%;
				height: auto;
				justify-content: center;
				align-items: center;
				margin-top: 30px;

				.total-result {
					p {
						color: #fff;
						text-align: center;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}