#pc-wrap {
	#dealer-detail-page {
		position: relative;
		background: #fff;
		padding-top: 87px;
		padding-bottom: 200px;

		.property-detail-config {
			width: 100%;
			height: auto;
			padding-top: 56px;
			gap: 30px;

			.property-info-config {
				width: 100%;
				height: auto;
				gap: 30px;

				.info {
					width: 100%;
					height: auto;
					flex-direction: row;
					justify-content: space-between;

					.left-box {
						width: 100%;
						height: auto;

						.title-main {
							margin-bottom: 10px;
							color: #181a20;
							font-family: $font;
							font-size: 40px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
						}

						.bottom-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							gap: 15px;

							.option {
								width: auto;
								height: 30px;
								display: flex;
								align-items: center;
								flex-direction: row;

								img {
									width: 20px;
									height: 20px;
									margin-right: 2px;
								}

								.icon {
									margin-right: 5px;
									color: #181a20;
									font-family: $font;
									font-size: 20px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}

								p {
									margin-right: 20px;
									color: #405FF2;
									font-family: $font;
									font-size: 20px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}

				}

				.brand-img {
					width: 95%;
					height: 400px;
					margin-left: 30px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					border-radius: 1rem;
					transition: transform 1s;

					&:hover {
						opacity: 1;
						transform: scale(1.04);
					}

					.main-image {
						width: 250px;
						height: 250px;
						border: 1px solid #717171;
						border-radius: 1rem;
						transition: transform 1s;

						&:hover {
							opacity: 1;
							transform: scale(1.07);
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 1rem;
						}
					}

					.right {

						.config {
							width: 650px;
							height: 350px;
							padding: 30px 25px;

							.right {
								display: flex;
								flex-direction: column;
								justify-content: space-between;

								.main-title {
									width: 800px;
									margin-bottom: 50px;
									color: #181a20;
									font-family: $font;
									font-size: 25px;
									font-style: normal;
									font-weight: 600;
									line-height: 35px;
									text-wrap: wrap;
								}

								.social {
									max-width: 500px;
									height: 30px;
									margin-bottom: 10px;
									margin-left: -15px;
									display: flex;
									justify-content: flex-start;
									align-items: center;
									text-wrap: nowrap;
									flex-direction: row;

									img {
										width: 24px;
										height: 24px;
										margin-left: 20px;
									}

									.data {
										margin-left: 3px;
										color: #181a20;
										font-family: $font;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
									}
								}

								.info {
									width: 200px;
									height: 50px;
									margin-top: 30px;
									display: flex;
									justify-content: center;
									align-items: center;
									border-radius: 1rem;
									border: 1px solid #405FF4;
									background: rgb(228, 239, 255);

									&:hover {
										border-radius: 1rem;
										border: 1px solid #405FF4;
										background: #405FF2;

										.data {
											color: #fff;
										}
									}

									.data {
										color: #181a20;
										font-family: $font;
										font-size: 18px;
										font-style: normal;
										font-weight: 400;
									}
								}
							}
						}
					}

					.right-frame {
						margin-bottom: 40px;

						.right-config {
							width: 300px;
							padding: 30px 25px;
							gap: 20px;
							border-radius: 12px;
							transition: transform 1s;

							&:hover {
								opacity: 1;
								transform: scale(1.07);
							}

							.right {

								.main-title {
									width: 120px;
									margin-bottom: 20px;
									color: #181a20;
									font-family: $font;
									font-size: 25px;
									font-style: normal;
									font-weight: 600;
									text-wrap: nowrap;
								}

								.info {
									width: 250px;
									height: 30px;
									margin-bottom: 5px;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									transition: transform 1s;

									&:hover {
										opacity: 1;
										transform: scale(1.07);


										.icons {
											font-size: 16px;
											opacity: 1;

										}

										.data {
											font-size: 16px;
											opacity: 1;

										}
									}

									.icons {
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 600;

									}

									.data {
										width: 50%;
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 600;
									}
								}
							}
						}
					}
				}

				.images {
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					border-radius: 1rem;

					.main-image {
						width: 100%;
						height: 600px;
						background: #717171;
						border-radius: 1rem;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 1rem;
						}
					}
				}
			}

			.property-desc-config {
				width: 100%;
				height: auto;
				flex-direction: row;
				gap: 22px;

				.left-config {
					width: 100%;
					height: auto;
					gap: 40px;

					.options-config {
						width: 100%;
						height: auto;
						flex-direction: row;
						gap: 47.5px;

						.option {
							width: auto;
							height: auto;
							flex-direction: row;
							gap: 17px;

							.svg-box {
								width: 56px;
								height: 50px;
								align-items: center;
								justify-content: center;
								border-radius: 12px;
								border: 1px solid #ddd;

								img {
									width: 35px;
									height: auto;
								}
							}

							.option-includes {
								width: auto;
								height: auto;

								.title {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}

								.option-data {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}

					.prop-desc-config {
						width: 100%;
						height: auto;
						gap: 50px;
						padding: 29px 38px 50px 38px;

						.bottom {
							width: 100%;
							height: auto;
							display: flex;
							flex-direction: column;
							justify-content: space-evenly;
							align-items: flex-start;
							gap: 30px;

							.data {
								width: 100%;
								color: #000000;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								text-align: justify;
								white-space: pre-line;
							}

							.title {
								color: #181a20;
								font-family: $font;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								letter-spacing: 5px;
							}

							.info-box {
								width: 100%;
								height: auto;
								align-items: center;

								.right {
									width: auto;
									height: auto;
									display: flex;
									flex-direction: row;
									justify-content: flex-start;
									align-items: center;
									flex-flow: row wrap;
									gap: 10px;


									.info {
										width: 280px;
										height: 200px;
										display: flex;
										margin-bottom: 10px;
										flex-direction: column;
										justify-content: space-evenly;
										align-items: center;
										transition: transform 0.3s;

										&:hover {
											opacity: 1;
											transform: scale(1.07);
											border-radius: 1rem;
											border: 1px solid #895129;
										}

										img {
											width: 80px;
											height: 80px;
											object-fit: cover;
										}

										.data {
											width: 180px;
											text-align: center;
											color: #000000;
											font-family: $font;
											font-size: 24px;
											font-style: normal;
											font-weight: 700;
											line-height: 35px;
										}
									}
								}
							}
						}
					}


					.address-config {
						width: 100%;
						height: auto;
						padding: 30px 38px;

						.title {
							margin-bottom: 5px;
							color: #181a20;
							font-family: $font;
							font-size: 24px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}

						.address {
							margin-bottom: 20px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}

						.map-box {
							width: 100%;
							height: 400px;

							iframe {
								border-radius: 12px;
							}
						}
					}

					.reviews-config {
						width: 100%;
						height: auto;
						padding: 30px 38px 45px 38px;

						.filter-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							justify-content: space-between;
							margin-bottom: 30px;

							.review-cnt {
								width: auto;
								height: auto;
								flex-direction: row;
								align-items: center;
								gap: 12px;

								.reviews {
									width: 153.6px;
									color: #181a20;
									font-family: $font;
									font-size: 17px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}

							.select-box {
								width: auto;
								height: auto;
								flex-direction: row;
								gap: 10px;

								.sort-title {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}

								.select-main {
									width: 140px;
									border: none;
									outline: none;
									color: #181a20;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}
						}

						.review-list {
							width: 100%;
							height: auto;
							gap: 20px;

							.review-config {
								width: 100%;
								height: auto;
								padding-bottom: 10px;
								border-bottom: 1px solid #c4c4c4;

								.review-mb-info {
									width: 100%;
									height: auto;
									flex-direction: row;
									justify-content: space-between;

									.img-name-box {
										width: 30%;
										flex-direction: row;
										align-items: center;
										gap: 20px;

										.img-box {
											width: 65px;
											height: 65px;
											align-items: center;
											justify-content: center;
											border-radius: 1rem;
											background: rgb(228, 239, 255);
											border: 1px solid rgb(228, 239, 255);
											object-fit: cover;
										}

										.name {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											cursor: pointer;
										}

										.date {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}

									.review-stars {
										padding-top: 10px;
									}
								}

								.desc-box {
									width: 100%;
									height: auto;
									margin-top: 15px;

									.description {
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 26px;
									}
								}
							}

							.pagination-box {
								margin-top: 15px;
								width: 100%;
								height: auto;
								display: flex;
								justify-content: center;
							}
						}
					}

					.leave-review-config {
						background: #fff;
						padding: 30px 38px;

						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}

						.review-title {
							margin-top: 20px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}

						textarea {
							width: 100%;
							height: 120px;
							margin-top: 8px;
							padding: 20px;
							border-radius: 8px;
							border: 1px solid #ddd;
							color: #717171;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}

						.submit-btn {
							width: 100%;
							display: flex;
							justify-content: flex-end;

							button:disabled {
								background: #405FF2;
							}

							.submit-review {
								display: flex;
								width: 256px;
								margin-top: 30px;
								padding: 16px 30px;
								justify-content: center;
								align-items: center;
								gap: 10px;
								border-radius: 1rem;
								border: 1px solid #405FF2;
								background: rgb(0, 71, 177);
								cursor: pointer;

								.title {
									color: #fff;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}
				}
			}

			.similar-properties-config {
				width: 100%;
				margin-top: 45px;
				gap: 66px;

				.title-pagination-box {
					width: 100%;
					height: auto;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-end;

					.title-box {
						width: 50%;

						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
						}

						.sub-title {
							color: #181a20;
							font-family: $font;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
							letter-spacing: 3px;
						}
					}

					.pagination-box {
						flex-direction: row;
						align-items: center;
						gap: 22px;
					}
				}

				.cards-box {
					width: 100%;
					padding-bottom: 10px;

					.similar-homes-swiper {
						width: 100%;
						height: 330px;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;

						.similar-homes-slide {
							width: 500px;

						}
					}
				}
			}
		}
	}
}